.orders-index {
    margin: 0 auto;
}

.order-show-link {
    color: black;
}

.order-show-link:hover {
    color: black;
    text-decoration: none;
}

.orders-show-td {
    font-weight: bold;
    padding: 10px 30px 10px 0;
}
