.td-total-money {
    padding: 10px;
    width: 100px;
}

.total-money-table {
    float: right;
}

.cart_items_destroy_all {
    float: right;
}

.cart-item-image-size {
    width: 100px;
    height: 70px;
}