.mypage-wrapper {
    margin: 30px;
}

.login {
    display: flex;
    list-style: none;
}

.edit-end-user-wrapper {
    padding-top: 30px;
    padding-left: 30px;
}

.confirm-wrapper {
    text-align: center;
    margin: 30px;
}