.items-index {
    font-weight: bold;
}

.image-size {
    width: 200px;
    height: 150px;
}

.item-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.item-content {
    width: 25%;
    padding: 20px;
}
