.items-index {
    font-weight: bold;
    font-size: 25px;
}

.image-size {
    width: 98%;
    height: 150px;
}

.item-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.item-content {
    width: 22%;
    margin: 10px;
}

.image-items-show-link:hover {
    cursor :pointer;
}

.items-show-link {
    color: black;
}

.items-show-link:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.image-size-show {
    width: 350px;
    height: 230px
}

.item-name {
    font-weight: bold;
    font-size: 30px;
}

.item-introduction {
    font-size: 20px;
}

.search-genre {
    border-bottom: 1px solid black;
}

.search-genre-wrapper {
    border: 1px solid black;
}