.order-image-size {
    width: 100px;
    height: 100px;
}

.order-new {
    margin-left: 20px;
}

.pay_way {
    font-size: 20px;
    font-weight: bold;
}

.order-item-image {
    width: 100px;
    height: 60px;
    margin-right: 10px;
}

.thank-you-wrapper {
    text-align: center;
}

.thank-you {
    font-weight: bold;
    font-size:25px;
}